.App {
  text-align: center;
}

label {
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem auto;
}

form {
  display: block;
  flex-direction: column;
}